 body{background-color: #e4e3e3;
    font-family: 'Kanit', sans-serif;
    color: #353535;
    margin: 0; 
}

.container{
    width: 900px;
    margin: 0 auto;
}

.profile{
    text-align: center;
    margin-bottom: 40px;
}




.foto{
    /*border: 5px double rgb(255, 255, 255)}*/
    border-width: 3px;
    border-style: solid;
    border-color: rgba(158 219 255 / 96%);   
    border-radius: 50%;
    width: 200px;
    margin: 30px 30px 0;
   
   box-shadow: 2px 1px 10px rgb(133, 133, 230);
}

h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;
}

h2{
    margin-top: 0px;
    margin-left: 0px;
}

h4{
    margin-bottom: 0;
}

h5{
    margin-top: 0;
    margin-bottom: 0;
}

p{
    line-height: 25px;
    margin-top: 5px;
}

.links{
    text-decoration: none;
}
.icones {
   width: 50px;
}

.face{
    margin: 0 15px 0 15px;
}

.bolinha{
    list-style: none;
}

.final{
    background-color: black;
    margin-top: 100px;
    text-align: center;
    color: white;   
}