 body{background-color: #e4e3e3;
}


p {color: #353535;}

.foto{
    /*border: 5px double rgb(255, 255, 255)}*/
    border-width: 3px;
    border-style: solid;
    border-color: rgba(58, 57, 57, 0.144);   
    border-radius: 50%;
    
    width: 200px;
}